<div class="card">
  <div class="card-header">ERROR MESSAGE!!</div>
  <div class="card-body">
    <h5 class="card-title"><%= err %></h5>
    <p class="card-text"><%= message %></p>
    <p class="card-text">ERR CODE - <%= status %></p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
